



body {
		background-color: rgb(255, 229, 204);

	}

nav {

	max-width: 800px;
	margin: auto;
	font-family: arial, sans-serif;
	font-size: 1em;
	background-color: rgb(255, 229, 204);

}

nav ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;

	}

	nav ul li {

		background-color: rgb(255, 229, 204);
		flex-flow: row wrap;
		list-style-type: none;
		padding:1em;
		max-width: 100%;

	}

	nav ul li a {
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
}

p {
	font-family: 'DM Serif Display', serif;
	justify-content: center;
	align-items: center;
}
















