



body {
		background-color: rgb(255, 229, 204);

	}

nav {

	max-width: 800px;
	margin: auto;
	font-family: arial, sans-serif;
	font-size: 1em;
	background-color: rgb(255, 229, 204);

}

nav ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;

	}

	nav ul li {

		background-color: rgb(255, 229, 204);
		flex-flow: row wrap;
		list-style-type: circle;
		padding:1em;
		max-width: 100%;

	}

	nav ul li a {
	text-decoration: none;
}

main {
	max-width: 600px;
	margin: auto;
	font-size: 1rem;
}

p {
	font-family: 'DM Serif Display', serif;
	justify-content: center;
	align-items: center;
}


h1 {
	font-family:didot, serif;
	font-size: 3em;
	margin: 2em;

}

@media screen and (max-width: 479px) {

main {
	width: 100%;
}

img {

	align-items: center;
	max-width: 100px;
}





}
















